# Object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# GNU global
GPATH
GRTAGS
GTAGS

# scons
.sconsign.dblite

# custom
.vscode
src/version.h 
build

# test related files
test/mosquitto/.env
test/mosquitto/mosquitto-certs
